.meta {
  display: flex;
  align-items: center;
  gap: var(--xops-spacing-6);
}

.text {
  font-family: var(--xops-font-family);
  font-weight: var(--xops-font-weight-regular);
  font-size: var(--xops-typography-body-12-font-size);
  line-height: var(--xops-typography-body-12-line-height);
  color: var(--xops-text-secondary);
  white-space: nowrap;
}
